.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.main-container > div {
    width: 100%;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    padding-top: 0px;
    white-space: pre-line;
}
.proofContainer {
    width: 50%;
}

.rule {
    width: 180px;
}

.bold {
    font-weight: bold;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.propositions {
    margin-bottom: 20px;
}
.propositions, .operations {
    width: 360px;
    margin-bottom: 20px;
}
.operations li {
    width: 180px;
}

.proof-status {
    height: 1.8rem;
    margin-bottom: 6px;
}
.section-header {
    margin-bottom: 16px;
}
.section-description {
    width: 100%;
    border: 1px solid #ced4da;
    padding: 12px;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    background-color: white;
}
.section-description p {
    margin: 0px;
}
.sub-container {
    border: 1px solid #ced4da;
    padding: 12px 12px 12px 20px;
    border-radius: 0.25rem;
    margin: 20px;
    background-color: #f8f9fa;
}
#proof-success {
    filter: invert(41%) sepia(49%) saturate(2587%) hue-rotate(93deg) brightness(99%) contrast(104%);
}

.example-code {
    min-width: 300px;
}
.example-result {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
}

.notif {
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 26px;
    width: inherit !important;
}

#back-button-form {
    margin: 0px 0px 0px 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  text-align: center;
}