.proof-tree-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

td {
    text-align:center;
    height: 1.8em;
    vertical-align:bottom;
    padding-left: 2px;
    padding-right: 2px;

}

td.conc {
    border-top: solid 1px;
}

div.rulename {
    margin-top:-2.6em;
    background-color: white;
}
