{% extends "base.html"%}
{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/proof.css') }}">
<script>
console.log("script works")
console.log("tree: ",JSON.parse('{{ res|tojson }}'))
    $(function() {
  var mytree = JSON.parse('{{ res|tojson }}');

  $('#tree').treeview({
    data: mytree
  });
});

</script>
{% endblock %}
{% block title %}
Sequent proof
{% endblock %}
{% block content %}

<section class="sub-container" style="width: 50%;">
    <h2>
        {% if boolean_result %}
        <img id="proof-success" class="proof-status" src="{{ url_for('static', filename='icons/checkmark.svg') }}">
        Sekvencija „{{sequent}}“ yra išvedama.
        {% else %}
        <img id="proof-failed" class="proof-status" src="{{ url_for('static', filename='icons/remove.svg') }}">
        Sekvencija „{{sequent}}“ yra neišvedama.
        {% endif %}
    </h2>
    <div id="tree"></div>
    {% print(res) %}
    {% if proof %}
    <h2>Sekvencijos išvedimas:</h2>
    <div class="proofContainer">
<pre>
    <code>
         {{proof}}
    </code>
</pre>
    </div>
    <div class="sub-container proof-tree-container">
        <table class="proof-table">
            {% for el in sequent_list %}
            <tr>
                <td class="conc" colspan="2">{{el}}</td>
                <td class="rulename" rowspan="2">
                    <div class="rulename">
                        {% if el.applied_operation != None %}
                        <span class="bold">({{el.applied_operation}})</span>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endif %}
{% include 'input-component.html' %}
<form id="back-button-form" action="/" method="get">
    <input type="submit" class="btn btn-outline-secondary" value="Grįžti atgal"/>
</form>
{% endblock %}