{% extends "base.html"%}
{% block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/proof.css') }}">
<script>
const treeVisualiser = (data) => {
  return `
  <table>
    <tr>
      ${
        data.children === undefined
          ? `<td>⊕</td>`
          : data.children
              .map((el) => {
                return `<td>${treeVisualiser(el)}</td>`;
              })
              .join("")
      }
      <td class="rulename" rowspan="2">
            <div class="rulename">${data.applied_operation.length > 0 ? '('+data.applied_operation+')': ''}</div>
        </td>
    </tr>
    <tr>
      <td class="conc" colspan="2">
        ${data.name}
      </td>
    </tr>
  </table>`;
};
</script>
{% endblock %}
{% block title %}
Sequent proof
{% endblock %}
{% block content %}

<section class="sub-container" >
    <h2>
        {% if boolean_result %}
        <img id="proof-success" class="proof-status" src="{{ url_for('static', filename='icons/checkmark.svg') }}">
        Sekvencija „{{sequent}}“ yra išvedama.
        {% else %}
        <img id="proof-failed" class="proof-status" src="{{ url_for('static', filename='icons/remove.svg') }}">
        Sekvencija „{{sequent}}“ yra neišvedama.
        {% endif %}
    </h2>
    {% if boolean_result %}
    <h2>Sekvencijos išvedimas:</h2>
    <div class="proofContainer">
<pre>
</pre>
    </div>
    <div class="sub-container proof-tree-container">
    <script>
    const response = JSON.parse('{{ res|safe }}')
    document.write(treeVisualiser(response))</script>
    </div>
</section>
{% endif %}
{% include 'input-component.html' %}
<form id="back-button-form" action="/" method="get">
    <input type="submit" class="btn btn-outline-secondary" value="Grįžti atgal"/>
</form>
{% endblock %}